/*--- FONTS ---*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
/*--- COLORS ---*/
/* EFFECTS */
/* INITIAL VALUE */
/* RESET STYLE */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BASIC STYLE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.py {
  padding: 70px 0;
}

@media (max-width: 767px) {
  .py {
    padding: 35px 0;
  }
}

/* GLOBAL */
h2 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 500;
}

@media (max-width: 767px) {
  h2 {
    font-size: 3rem;
  }
}

p,
li {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  p,
  li {
    font-size: 1.2rem;
  }
}

/* MIXINS */
/* BASIC STYLES*/
.half, .about article, .events, .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.half .wrapper, .about article .wrapper, .events .wrapper, .contacts .wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

@media (max-width: 767px) {
  .half .wrapper, .about article .wrapper, .events .wrapper, .contacts .wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

/* nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .logo {
  color: #4073de;
  font-size: 3rem;
  font-weight: 500;
}

nav .logo span {
  position: relative;
  font-size: 2rem;
  top: -0.5em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

@media (max-width: 767px) {
  nav ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 60px 0px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media (max-width: 767px) {
  nav ul li {
    padding: 5px 10px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

nav ul li:hover {
  background: #155ed1;
  color: #fff;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

@media (max-width: 767px) {
  nav ul li a {
    font-size: 1rem;
  }
}

/* header */
header {
  height: 100vh;
  background: url(../img/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  header {
    height: 50vh;
  }
}

/* services */
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  padding: 30px;
  margin-top: -10%;
  color: #fff;
  position: relative;
  cursor: pointer;
}

@media (max-width: 767px) {
  .services article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 20px;
  }
}

.services article:hover i {
  right: 0;
}

@media (max-width: 767px) {
  .services article:first-child {
    margin-top: -30%;
  }
}

.services article h2 {
  margin-bottom: 30px;
}

.services article p {
  margin-right: 30px;
}

.services article i {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  bottom: 30px;
  right: 30px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.services article:nth-child(1) {
  background: linear-gradient(-135deg, #ff8615, #ffaf00);
}

.services article:nth-child(2) {
  background: linear-gradient(-135deg, #155ed1, #ae5cfc);
}

.services article:nth-child(3) {
  background: linear-gradient(-135deg, #ff1b99, #ff2f4f);
}

.services article:nth-child(4) {
  background: linear-gradient(-135deg, #b61fe0, #fe14e5);
}

/* about */
.about article {
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .about article {
    margin-bottom: 40px;
  }
}

.about article:last-child {
  margin-bottom: 0px;
}

.about article:nth-child(even) div:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (max-width: 767px) {
  .about article:nth-child(even) div:last-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.about article div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  padding: 60px;
}

@media (max-width: 767px) {
  .about article div:first-child {
    padding: 30px;
  }
}

.about article h2 {
  font-weight: 600;
}

.about article p {
  color: #505050;
  line-height: 1.5;
  margin: 30px 0;
}

.about button {
  padding: 1em 3em;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, right top, from(#ff8615), to(#ff2f4f));
  background: linear-gradient(to right, #ff8615, #ff2f4f);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media (max-width: 767px) {
  .about button {
    font-size: 1.2rem;
  }
}

.about button:hover {
  border-radius: 2em;
}

.about button:active {
  color: #155ed1;
}

/* whySwimming */
.whySwimming {
  background: url(../img/swimer2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 767px) {
  .whySwimming {
    height: auto;
  }
}

.whySwimming article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.whySwimming article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 47, 79, 0.9)), to(rgba(255, 27, 153, 0.9)));
  background: linear-gradient(rgba(255, 47, 79, 0.9), rgba(255, 27, 153, 0.9));
  padding: 90px;
  color: #fff;
}

@media (max-width: 767px) {
  .whySwimming article > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 30px;
  }
}

.whySwimming article h2 {
  margin-bottom: 50px;
}

.whySwimming article p {
  margin-bottom: 30px;
}

.whySwimming article button {
  padding: 1em 3em;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #000;
  border: 1px solid transparent;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .whySwimming article button {
    font-size: 1.2rem;
  }
}

.whySwimming article button:hover {
  border-radius: 2em;
}

.whySwimming article button:active {
  color: #155ed1;
}

/* events */
.events {
  color: #fff;
}

.events article:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 175, 0, 0.9)), to(rgba(255, 134, 21, 0.9)));
  background: linear-gradient(rgba(255, 175, 0, 0.9), rgba(255, 134, 21, 0.9));
  padding: 90px;
}

@media (max-width: 767px) {
  .events article:first-child {
    padding: 30px;
  }
}

.events article:first-child ul {
  margin-top: 40px;
}

.events article:first-child ul li {
  padding-left: 2em;
  position: relative;
  line-height: 2.5;
}

@media (max-width: 767px) {
  .events article:first-child ul li {
    line-height: 2;
  }
}

.events article:first-child ul li::before {
  content: "";
  display: block;
  position: absolute;
  height: 1em;
  width: 1em;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/arrow-circle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .events article:first-child ul li::before {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    top: 0;
  }
}

/* players */
.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.players article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

@media (max-width: 767px) {
  .players article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .players article:last-child {
    margin-bottom: 0;
  }
}

.players article div:first-child {
  width: 100%;
  padding: 0 20%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #f3f3f3));
  background: linear-gradient(#fff 50%, #f3f3f3 50%);
}

.players article div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  padding: 45px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .players article div:last-child {
    padding: 30px;
  }
}

.players article div:last-child p {
  color: #505050;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.players article div:last-child h3 {
  margin-top: 30px;
  color: #ff8615;
  font-size: 2.5rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .players article div:last-child h3 {
    margin-top: 20px;
  }
}

.players article img {
  border-radius: 50%;
}

/* contacts */
.contacts article:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 94, 209, 0.9)), to(rgba(64, 115, 222, 0.9)));
  background: linear-gradient(rgba(21, 94, 209, 0.9), rgba(64, 115, 222, 0.9));
  padding: 90px;
  color: #fff;
}

@media (max-width: 767px) {
  .contacts article:first-child {
    padding: 30px;
  }
}

.contacts article:first-child h2 {
  margin-bottom: 30px;
}

.contacts article:first-child h3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .contacts article:first-child h3 {
    font-size: 2rem;
  }
}

.contacts article:first-child h3 i {
  margin: 0 0.5em;
}

.contacts article:first-child .social {
  margin-top: 30px;
  padding-left: 1em;
}

.contacts article:first-child .social i:hover {
  color: #ff8615;
}

.contacts article:first-child i {
  font-size: 2.3rem;
  position: relative;
  margin: 0 1em 0 0;
  color: #155ed1;
  z-index: 3;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media (max-width: 767px) {
  .contacts article:first-child i {
    font-size: 1.5rem;
  }
}

.contacts article:first-child i::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  height: 1em;
  width: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.3em;
}

/* footer */
footer {
  text-align: center;
}

footer p {
  color: rgba(80, 80, 80, 0.6);
  font-size: 2rem;
}

@media (max-width: 767px) {
  footer p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */