/*--- FONTS ---*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;500;700&display=swap");

$textFont: "Roboto", sans-serif;
$textHeadings: "Roboto", sans-serif;
$fontNav: "Montserrat", sans-serif;
$fontSize: 16px;

/*--- COLORS ---*/
$blue: #4073de;
$navlink1: #ae5cfc;
$navlinks2: #155ed1;
$lightorange: #ffaf00;
$orange: #ff8615;
$lightred: #ff2f4f;
$red: #ff1b99;
$lightviolet: #fe14e5;
$violet: #b61fe0;
$lightgray: #f3f3f3;
$text: #505050;
$black: #000;
$white: #fff;

/* EFFECTS */
$transition: 0.4s ease;
$boxShadow: 0 5px 10px 0px rgba($text, 0.5);

/* INITIAL VALUE */
$py: 70px 0;
$widthContainer: 95%;
$lineHeight: 1.7;

/* RESET STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC STYLE */
html {
  scroll-behavior: smooth;
}
body {
  font-family: $textFont;
  font-size: $fontSize;
  line-height: $lineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $textHeadings;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: $transition;
}
img {
  display: block;
  width: 100%;
}
.container {
  width: $widthContainer;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 90%;
  }
}
.py {
  padding: $py;
}
