@import "starter";
@import "mixins";

/* GLOBAL */
h2 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
p,
li {
  font-size: 1.5rem;
  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

/* MIXINS */

@mixin btnBasic($background, $fontColor) {
  padding: 1em 3em;
  font-size: 1.5rem;
  font-family: $textFont;
  color: $fontColor;
  border: 1px solid transparent;
  background: $background;
  cursor: pointer;
  transition: $transition;
  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
  &:hover {
    border-radius: 2em;
  }
  &:active {
    color: $navlinks2;
  }
}

/* BASIC STYLES*/
.half {
  @include flex(space-between, stretch);
  .wrapper {
    flex: 0 0 49%;
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }
}

/* nav */
nav {
  @include flex(space-between, center);
  .logo {
    color: $blue;
    font-size: 3rem;
    font-weight: 500;
    span {
      position: relative;
      font-size: 2rem;
      top: -0.5em;
    }
  }
  ul {
    @include flex(space-between, center);
    flex: 0 0 60%;
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
    li {
      flex: 1;
      text-align: center;
      padding: 60px 0px;
      cursor: pointer;
      transition: $transition;
      @media (max-width: 767px) {
        padding: 5px 10px;
        flex: unset;
      }
      &:hover {
        background: $navlinks2;
        color: $white;
      }
      a {
        font-family: $fontNav;
        font-weight: 500;
        font-size: 1.2rem;
        position: relative;
        transition-property: background-color;
        @media (max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
    // flex: 1;
  }
}

/* header */
header {
  height: 100vh;
  background: url(../img/header.png);
  @include bgBasic;
  @media (max-width: 767px) {
    height: 50vh;
  }
}

/* services */
.services {
  @include flex(space-between, stretch);
  article {
    @include flex(space-between, flex-start, column);
    flex: 0 0 22%;
    padding: 30px;
    margin-top: -10%;
    color: $white;
    position: relative;
    cursor: pointer;
    @media (max-width: 767px) {
      flex: 0 0 100%;
      margin-top: 20px;
    }

    &:hover {
      i {
        right: 0;
      }
    }

    &:first-child {
      @media (max-width: 767px) {
        margin-top: -30%;
      }
    }
    h2 {
      margin-bottom: 30px;
    }
    p {
      margin-right: 30px;
    }
    i {
      position: absolute;
      font-size: 3rem;
      color: $white;
      bottom: 30px;
      right: 30px;
      transition: $transition;
    }

    &:nth-child(1) {
      background: linear-gradient(-135deg, $orange, $lightorange);
    }
    &:nth-child(2) {
      background: linear-gradient(-135deg, $navlinks2, $navlink1);
    }
    &:nth-child(3) {
      background: linear-gradient(-135deg, $red, $lightred);
    }
    &:nth-child(4) {
      background: linear-gradient(-135deg, $violet, $lightviolet);
    }
  }
}

/* about */
.about {
  article {
    @extend .half;
    margin-bottom: 70px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    &:nth-child(even) {
      div:last-child {
        order: -1;
        @media (max-width: 767px) {
          order: 0;
        }
      }
    }
    div {
      &:first-child {
        @include flex(center, flex-start, column);
        background-color: $lightgray;
        padding: 60px;
        @media (max-width: 767px) {
          padding: 30px;
        }
      }
    }
    h2 {
      font-weight: 600;
    }
    p {
      color: $text;
      line-height: 1.5;
      margin: 30px 0;
    }
  }
  button {
    @include btnBasic(linear-gradient(to right, $orange, $lightred), $white);
  }
}

/* whySwimming */
.whySwimming {
  background: url(../img/swimer2.png);
  @include bgBasic;
  height: 100vh;
  @media (max-width: 767px) {
    height: auto;
  }
  article {
    @include flex(flex-start, stretch);
    height: 100%;
    & > div {
      @include flex(space-between, flex-start, column);
      flex: 0 0 50%;
      background: linear-gradient(rgba($lightred, 0.9), rgba($red, 0.9));
      padding: 90px;
      color: $white;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        padding: 30px;
      }
    }
    h2 {
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 30px;
    }
    button {
      @include btnBasic($white, $black);
      margin-top: 20px;
    }
  }
}
/* events */
.events {
  @extend .half;
  color: $white;
  article {
    &:first-child {
      background: linear-gradient(rgba($lightorange, 0.9), rgba($orange, 0.9));
      padding: 90px;
      @media (max-width: 767px) {
        padding: 30px;
      }
      ul {
        margin-top: 40px;
        li {
          padding-left: 2em;
          position: relative;
          line-height: 2.5;
          @media (max-width: 767px) {
            line-height: 2;
          }
          &::before {
            content: "";
            display: block;
            position: absolute;
            height: 1em;
            width: 1em;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: url(../img/arrow-circle.png);
            @include bgBasic;
            @media (max-width: 767px) {
              transform: translateY(50%);
              top: 0;
            }
          }
        }
      }
    }
  }
}

/* players */
.players {
  @include flex(space-between, stretch);
  article {
    @include flex(space-between, center, column);
    flex: 0 0 23%;
    @media (max-width: 767px) {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }
    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }
    div {
      &:first-child {
        width: 100%;
        padding: 0 20%;
        background: linear-gradient($white 50%, $lightgray 50%);
      }
      &:last-child {
        @include flex(space-between, flex-start, column);
        background: $lightgray;
        padding: 45px;
        flex: 1;
        @media (max-width: 767px) {
          padding: 30px;
        }
        p {
          color: $text;
          flex: 1;
        }
        h3 {
          margin-top: 30px;
          color: $orange;
          font-size: 2.5rem;
          font-weight: 400;
          @media (max-width: 767px) {
            margin-top: 20px;
          }
        }
      }
    }
    img {
      border-radius: 50%;
    }
  }
}

/* contacts */
.contacts {
  @extend .half;
  article {
    &:first-child {
      background: linear-gradient(rgba($navlinks2, 0.9), rgba($blue, 0.9));
      padding: 90px;
      color: $white;
      @media (max-width: 767px) {
        padding: 30px;
      }
      h2 {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 3rem;
        font-weight: 400;
        margin: 20px 0;
        @media (max-width: 767px) {
          font-size: 2rem;
        }
        i {
          margin: 0 0.5em;
        }
      }
      .social {
        margin-top: 30px;
        padding-left: 1em;

        i:hover {
          color: $orange;
        }
      }
      i {
        font-size: 2.3rem;
        position: relative;
        margin: 0 1em 0 0;
        color: $navlinks2;
        z-index: 3;
        transition: color $transition;
        @media (max-width: 767px) {
          font-size: 1.5rem;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: $white;
          border-radius: 50%;
          z-index: -1;
          height: 1em;
          width: 1em;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0.3em;
        }
      }
    }
  }
}

/* footer */
footer {
  text-align: center;
  p {
    color: rgba($text, 0.6);
    font-size: 2rem;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
}
